@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float-slow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.animate-float-slow {
  animation: float-slow 6s ease-in-out infinite;
}
